body {
  margin: 0;
  justify-content: center;
  display: flex;
  background-color: black;
  align-items: center;
  height: 100vh;
}

.controls {
  color: white;
  border-style: solid;
  border-radius: 10px;
}

.controls__slider {
}
